body {
  background-color: #DDE7F2;
}

hr {
  border: 6px dotted;
  border-color: #878ECD;
  background-color: none;
  border-style: none none dotted;
  height: 0px;
  width: 15%;
}

h1 {
  color: #66BFBF
}

h3 {
  color: #66BFBF
}
